.App {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
}

.content {
  flex-grow: 1;
  padding: 10px;
  margin-left: 320px;
}

.content1{
  width: 100%;
}

@media (max-width: 768px) {
  .content {
    margin-left: 57px;
  }
}

@media (max-width: 769px) {
  .content.open {
    margin-left: 57px;
  }
}